<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head :: head">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>

<div id="content">
    <h2>Golf Croquet Terms</h2>

    <!-- Create a table of GlossaryTerm objects here -->
    <table>
        <tr>
            <th>Term</th>
            <th>Definition</th>
            <th>Regulation</th>
        </tr>
        <tr th:each="term: ${terms}" >
            <td th:text="${term.term}"></td>
            <td th:text="${term.definition}"></td>
            <td th:text="${term.regulation}"></td>
        </tr>

    </table>

</div>

</body>
</html>